on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Android NDK (r25b)
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r25b
        local-cache: true
    - name: Build with Android NDK
      run: NDK_PROJECT_PATH=/home/runner/work/webp-imageio/webp-imageio/src/android ndk-build
    - name: Upload artifacts
      uses: actions/upload-artifact@v3.1.1
      with:
        name: webp-imageio
        path: build/*.so

      
    
  
